* {
  margin: 0 auto;
}

div.site-nav
{
  background-color: #333;
  overflow-y: hidden;
}

div.side-menu
{
  margin-top: 60px;
  background-color: orange;
  max-width: 100%;
  padding: 0;
  overflow-y: hidden;
}

@media screen and (max-width: 768px)
{
  div.side-menu
  {
    position: fixed;
    z-index: 100;
  }

  #sidemenu-subtitle
  {
    font-size: 0.9em;
  }
}

div.side-menu .container
{
  max-width: 100%;
}

div.pagination-view
{
  margin-top: 60px;
  background-image: url('../img/bg/main.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  overflow-y: auto;
}

div.pagination-view .container
{
    max-width: 100%;
    padding: 0;
}

#sidemenu-title
{
  font-family: raleway-bold;
  font-size: 3em;
  height: 60px;
  line-height: 70px;
  background-color: #333;
  text-align: left;
}

#sidemenu-subtitle
{
  font-family: raleway-light;
  height: 30px;
  line-height: 20px;
  background-color: #333;
  text-align: left;
  word-wrap:break-word;
}

#sidemenu-search
{
  font-family: raleway-light;
  height: 50px;
  width: 100%;
  line-height: 40px;
  background-color: rgba(0,0,0,0.1);
  padding: 0;
}

#sidemenu-search input
{
  width: 100%;
	height: 100%;
	outline: 1px solid rgba(0,0,0,0);
	display: block;
	padding-left: 20px;
	border: none;
	border-radius: 0px;
	-webkit-transition: 0.2s ease;
	-webkit-transition-property: box-shadow;
}

#sidemenu-search input:focus
{
  box-shadow: none;
}

@media screen and (max-width: 1100px)
{
  #sidemenu-subtitle
  {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 990px)
{
  #sidemenu-title, #sidemenu-subtitle
  {
    width: 50%;
    word-wrap: break-word;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  #sidemenu-subtitle
  {
    font-size: 1.1em;
  }

  div.side-menu
  {
    height: 110px;
  }
}

#cardBox
{
  height: 100%;
}

#cardBox-toggles-mobile
{
  background-color: #444;
  display: none;
}

#cardBox-toggles-desktop
{
  background-color: #444;
}

.option-toggle button.cardbox-btn
{
  background-color: #eda804;
  height: 50px;
}

button.cardbox-btn
{
  background-color: rgb(255, 180, 0);
  color: white;
  font-family: raleway-light;
  outline: none;
  border: none;
}

button.cardbox-btn:hover
{
  position: relative;
  cursor: pointer;
  background-color: #f2ad09 !important;
}

button.cardbox-btn:focus, button.cardbox-btn:active
{
  background-color: rgb(255,180,0) !important;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

.whitecard
{
  height: 290px;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  color: #333;
  background-color: white;
  text-align: left !important;
  box-shadow: 5px 5px 0px rgba(255,255,255,0.1);
}

.blackcard
{
  height: 290px;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  color: #f7f7f7;
  background-color: #333;
  text-align: left !important;
  box-shadow: 5px 5px 0px rgba(255,255,255,0.1);
}

.card-text
{
  position: relative;
  width: 80%;
  word-wrap: break-word;
  font-size: 1.3em;
  text-align: left !important;
  font-family: arimo-bold;
}

.copy-text:hover
{
  cursor: pointer;
}

@media screen and (max-width: 990px)
{
  div.pagination-view
  {
    margin-top: 0px;
  }

  .whitecard, .blackcard
  {
    height: 310px;
    width: 224px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px)
{
  .whitecard, .blackcard
  {
    height: 310px;
    width: 224px;
    margin-top: 40px;
  }

  div.pagination-view
  {
    margin-top: 170px;
  }
}

.card-cont
{
  margin: 0;
}

.options, .option-toggle
{
  margin: 0;
  padding: 0px !important;
}

.options button, .option-toggle button
{
  height: 40px;
  font-size: 1em;
  line-height: 40px;
}

#cardBox-toggles-desktop .options button
{
  height: 50px;
  font-size: 1.1em;
  line-height: 50px;
}

.copy-text
{
  position: absolute;
  z-index: 50;
  height: 40px;
  width: 40px;
  bottom: 5px;
  border-radius: 3px;
  padding: 5px 5px 5px 150px;
}

.copy-text img
{
  height: 30px;
  width: 30px;
}

.rating-icon
{
  position: absolute;
  z-index: 50;
  height: 50px;
  width: 200px;
  bottom: 0;
  border-radius: 3px;
}

.rating-icon img
{
  height: 50px;
  width: 50px;
}

#addacard
{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  text-align: left;
  font-family: raleway-bold;
  -webkit-transition: 0.2s ease;
  -webkit-transition-property: background-color;
}

#addacard:hover
{
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

.addCardBox
{
  height: 100%;
  width: 400px;
  background-color: rgb(255, 180, 0);
  position: fixed;
  right: -400px;
  z-index: 400;
  max-width: 400px !important;
}

a.closeCardBox
{
  color: white !important;
  display: none;
  position: absolute;
  left: 0px;
  height: 60px;
  width: 60px;
  line-height: 50px;
  z-index: 900;
}

a.closeCardBox:hover
{
  cursor: pointer;
}

.add-heading
{
  font-size: 2em;
  font-family: raleway-bold;
  height: 60px;
  line-height: 60px;
  color: #f7f7f7;
  background-color: #e8a300;
}
.add-titles
{
  font-size: 1.3em;
  font-family: raleway-bold;
  height: 50px;
  line-height: 50px;
  margin: 5px 0px;
  color: #f7f7f7;
}

.add-title
{
  font-size: 2em;
  font-family: raleway-bold;
  height: 50px;
  line-height: 50px;
  margin: 5px 0px;
  color: #f7f7f7;
  display: none;
}

.addCardBox input.txt-input1
{
	width: 100%;
	height: 50px;
	outline: none;
	display: block;
  margin: 5px 0px;
	padding-left: 20px;
	border: none;
	border-radius: 5px;
	-webkit-transition: 0.2s ease;
	-webkit-transition-property: box-shadow;
}

.add-bc
{
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #f7f7f7;
  font-size: 1.2em;
  font-family: raleway-bold;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #222;
}

.add-wc
{
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  color: #333;
  font-size: 1.2em;
  font-family: raleway-bold;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #eee;
}

.add-ex
{
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #555;
  font-size: 1.2em;
  font-family: raleway-bold;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #222;
}

.add-card
{
  margin: 10px 0px;
  width: 100%;
  height: 40px;
  background-color: #f7f7f7;
  color: #ddd;
  display: none;
  font-size: 1.4em;
  font-family: raleway-bold;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #eee;
}

.card-preview
{
  position: fixed;
  z-index: 600;
  display: none;
  top: 50px;
  left: 50px;
  width: 500px;
  max-width: 500px !important;
}

.preview-title
{
  font-size: 3em;
  color: #f7f7f7;
  font-family: raleway-bold;
}

.preview-card
{
  height: 450px;
	background-color: #f7f7f7;
  width: 225px;
	border-radius: 10px;
	font-family: arimo-bold;
	font-size: 2.1em;
	padding: 25px !important;
	color: #333;
	text-align: left;
	margin-top: 25px;
  width: 300px !important;
	box-shadow: 7px 7px 0px rgba(0,0,0,0.3);
	-webkit-transition: 0.2s ease;
	-webkit-transition-property: margin-top;
}

@media screen and (min-width: 768px)
{
  .option-toggle
  {
    display: none;
  }

  .options button
  {
    width: 100%;
  }
}

@media screen and (max-width: 990px)
{
  .copy-text
  {
    padding: 5px 5px 5px 175px;
  }
}

@media screen and (max-width: 768px)
{
  #cardBox-toggles-mobile, #cardBox-toggles-desktop
  {
    background-color: rgb(255, 180, 0);
  }

  #cardBox-toggles-desktop
  {
    display: none;
  }

  div.side-menu
  {
    background-color: #333;
  }

  .options.col-sm-6, .option-toggle.col-sm-6
  {
    width: 100%;
  }

  button.cardbox-btn
  {
    width: 100%;
  }
}
