div.home-banner
{
  width: 100%;
}

/* ------------------------------- */

div.gcon
{
  height: 500px;
  background-color: #444;
  width: 100%;
}

div.owl-carousel
{
  padding-top: 60px !important;
}

div.owl-carousel, .owl-stage, .owl-item
{
  max-width: none !important;
}

.img-fluid
{
  height: 300px !important;
  width: auto !important;
}

/* ------------------------------- */

div.banner-overlay
{
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}

span.move-down
{
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 35px);
  border-radius: 10px;
  opacity: 1;
  z-index: 10;
}

span.move-down img
{
  width: 100%;
  height: auto;
}

div.home-featured
{
  width: 100%;
  height: 600px;
  background-color: #333;
}

div.parallax-mirror img
{
  width: 1000px;
}

/* News Section */
div.home-news
{
  width: 200%;
  height: 500px;
}

div.news-title
{
  width: 100%;
  height: 60px;
  font-size: 3em;
  font-family: opensans-b;
  color: white;
  position: relative;
  text-align: center;
  line-height: 60px;
}

div.news-bg-overlay
{
  width: 100%;
  height: 500px;
  background-color: #faaf3a;
  opacity: 0.6;
  position: absolute;
  z-index: 50;
}

div.news-bg
{
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: 40;
  opacity: 0.45;
  overflow: hidden;
}

div.news-bg img
{
  width: 100%;
  height: auto;
  margin-top: -200px;
}

div.home-news .news-container
{
  width: 100%;
  height: 500px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

div.news-item-container
{
  display: inline-block;
  height: 350px;
  margin-top: 25px;
  border-left: 1px solid #333;
}

div.news-item
{
  height: calc(100% - 30px);
  width: calc(100% - 50px);
  margin-top: 15px;
  border-radius: 10px;
}

div.news-item.first-news-item
{
  width: calc(100% - 50px);
}

div.news-item.last-news-item
{
  width: calc(100% - 25px);
}

span.news-next
{
  height: 35px;
  width: 35px;
  position: absolute;
  z-index: 100;
  margin-top: 265px;
  right: 25px;
  display: none;
}

span.news-previous
{
  height: 35px;
  width: 35px;
  position: absolute;
  z-index: 100;
  margin-top: 265px;
  left: 25px;
  display: none;
}

span.news-next img, span.news-previous img
{
  width: 100%;
  height: auto;
}

span.news-next:hover , span.news-previous:hover
{
  opacity: 0.7;
  cursor: pointer;
}


/* Welcome Section */
div.home-welcome
{
  width: 100%;
  height: 80px;
  background-color: #444;
  color: white;
  font-size: 2.5em;
  font-family: opensans-b;
  line-height: 80px;
  text-align: center;
}

div.home-recent
{
  width: 100%;
  height: 450px;
  background-color: #333;
}

div.menu-profile
{
  width: 200px;
  height: 50px;
  position: absolute;
  z-index: 11;
  right: 350px;
}

div.menu-profile img
{
  height:50px;
  width: auto;
  border-radius: 0px;
  margin-top: -4px;
}

a.fa-name-small
{
  font-size: 1em;
  line-height: 50px;
  color: white;
  font-family: opensans-b;
  padding-left: 15px !important;
}

a.fa-name-small:hover
{
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.home-margin
{
  margin-top: 0 !important;
}

@media screen and (max-width: 990px)
{
  span.move-down
  {
    left: calc((100%/2) - 15px);
  }
}

.owl-carousel .item
{
  height: 300px;
  background-color: white;
}
