/* MEDIA QUERIES */

@media (min-width: 1200px) and (max-width: 1440px)
{
  .chains
  {
    left: 155px;
  }

  #lbm4c .section, #dsply4c .section, #lg4c .section
  {
    height: 200px;
  }

  #lbm4c .section .price-info p, #dsply4c .section .price-info p, #lg4c .section .price-info p
  {
    font-size: 1.4em;
  }

  .display-carousel
  {
    top: 100px;
  }

  .container-one .links div
  {
    font-size: 3em;
    line-height: 1.2em;
    height: 1.2em;
    padding-left: 100px !important;
  }

  .container-one .item
  {
    width: 200px !important;
    height: 200px !important;
  }

  .nums
  {
    bottom: 20px;
    left: calc(50% - 125px);
    width: 250px;
  }

  .nums a
  {
    height: 50px;
    width: 50px;
  }

  #abt1c .textarea p
  {
    font-size: 1.6em;
  }

  .container-two .section-box img
  {
    width: 130px;
  }

  #abt2c .tabular table td, #abt3c .tabular table td
  {
    font-size: 1.6em;
    height: 50px;
    line-height: 50px;
  }

  .container-two .linkbox
  {
    margin-top: 160px;
  }

  a.link
  {
    font-size: 1.6em;
    line-height: 30px;
  }

  .linkbox-title
  {
    font-size: 4em;
  }

  .container-three .linkbox, .container-four .linkbox
  {
    margin-top:90px;
  }

  .container-three .section-box div.item
  {
    width: 250px !important;
    height: 350px;
  }

  #dsply1c div.item, #dsply2c div.item, #dsply3c div.item
  {
    width: auto !important;
    height: 300px;
    border-right: 1px solid rgb(17, 17, 17);
  }

  #dsply1c div.item img, #dsply2c div.item img, #dsply3c div.item img
  {
    height: 300px !important;
  }

  .overlay
  {
    width: 250px !important;
    height: 250px !important;
    font-size: 1.8em;
    padding-top: calc(50% - 36px) !important;
  }

  .album-carousel
  {
    top: 100px;
  }

  a.ttl, span.ttl
  {
    font-size: 2em;
  }

  .subttl
  {
    font-size: 1.4em !important;
  }

  .goto, .toEdu
  {
    bottom: -80px;
  }

  .design-title
  {
    font-size: 1.6em;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .design-subtitle
  {
    font-size: 1.2em;
    height: 40px;
    line-height: 20px;
  }

  .overlay a
  {
    height: 36px;
    line-height: 36px;
  }

  .linktitle
  {
    top: 15px;
    font-size: 3em;
  }

  .container-three .section-links,
  .container-four .section-links,
  .container-five .section-links
  {
    bottom: 10px;
  }

  .container-three .section-links a,
  .container-four .section-links a,
  .container-five .section-links a
  {
    font-size: 1.8em;
  }

  .container-three .section-links p,
  .container-four .section-links p,
  .container-five .section-links p
  {
    font-size: 1.8em;
  }

  #abt2c img
  {
    top: 110px;
    right: 30px;
    height: 120px;
  }

  #abt2c .textarea
  {
    top: 240px;
    right: 30px;
  }

  a.ttl
  {
    font-size: 1.6em;
  }

  .subttl
  {
    font-size: 1.2em;
  }

  .lightbox img
  {
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    width: 600px;
    height: 600px;
  }

  .lightbox span.cls
  {
    font-size: 1.8em;
  }

  #twttrc, #dscrdc, #otherc
  {
    position: absolute;
    right: 30px;
    top: 120px;
    font-size: 1.4em !important;
  }

  .container-one .artpiece
  {
    width: 750px;
  }

  #name1{left: calc(50% - 155px); bottom: 0px;}
  #name2{left: calc(50% - 107px); bottom: 0px;}
  #name3{left: calc(50% - 62px); bottom: 0px;}
  #name4{left: calc(50% - -4px); bottom: 0px;}
  #name5{left: calc(50% - -30px); bottom: 0px;}

  #abt1c .textarea, #twttrc
  {
    top: 100px;
  }

  .goto, .toEdu
  {
    bottom: -80px;
    font-size: 1.5em;
  }
}

@media (min-width: 990px) and (max-width: 1200px)
{
  .container-one .item
  {
    width: 150px !important;
    height: 150px !important;
  }
}

@media (max-width: 990px)
{
  .mobburger
  {
    display: block;
    z-index: 200;
  }

  .container-one .item
  {
    width: 150px !important;
    height: 150px !important;
  }

  .chains
  {
    left: 20px !important;
  }

  .container-one .mylogo
  {
    left: 50px;
  }

  .container-one .mylogo img
  {
    height: 135px;
    width: 135px;
  }

  .container-one .left-stripe
  {
    left: 0;
    top: 0;
    height: 100%;
  }

  .secret{display: none;}

  .container-one .links
  {
    position: absolute;
    top: 170px;
    left: 50px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 12;
  }

  .container-one .links div
  {
    font-size: 2.4em;
    line-height: 1.2em;
    color: white !important;
    text-align: left !important;
    height: 1.2em;
    padding-right: 70px !important;
    padding-left: 9px !important;
    width: auto;
    display: inline-block;
    float: left;
    clear: left;
  }

  .nums, .left-stripe, .commstatus,
  .section-title, .section-links{display: none;}

  .back-up
  {
    bottom: 20px;
    right: 20px;
    left: auto;
  }

  .art-carousel
  {
    z-index: 30 !important;
    bottom: 25px;
  }

  .section-box-mobile{display: block;}
  .section-box{display: none;}

  .section-box-mobile
  {
    height: 100%;
    width: 100%;
  }

  .section-title-mob
  {
    font-size: 3em;
    color: white !important;
    position: absolute;
    top: 0px;
    left: 50px;
  }

  .section-subtitle-mob
  {
    font-size: 1.8em;
    color: rgba(255,255,255,0.7) !important;
    position: absolute;
    top: 57px;
    left: 50px;
    line-height: 30px
  }

  .mob-drop
  {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
  }

  .container-two img.me
  {
    left: auto;
    right: 0;
    overflow-x: hidden;
    z-index: 100;
    height: 80%;
    top: 20%;
  }

  .back-up
  {
    z-index: 101;
  }

  .mobile-contacts
  {
    height: 100%;
    width: 100%;
  }

  .mobile-contacts div span
  {
    height: 45px;
    line-height: 45px;
    display: block;
    font-size: 2em;
    color: white !important;
    margin-bottom: 10px;
    width: 250px;
    text-align: center;
  }

  .contactlist
  {
    position: relative;
    display: none;
    width: 250px;
  }

  .contactlist a
  {
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 1.6em;
    color: white !important;
    margin-bottom: 10px;
    width: 250px;
    text-align: center;
  }

  #mobtwitter, #mobdiscord, #mobother
  {
    margin-left: calc(50% - 125px);
  }

  #mobtwitter{  position: absolute; top: 100px;}
  #mobdiscord{  position: absolute; top: 170px;}
  #mobother{ position: absolute; top: 240px;}

  .mobile-contacts div span:hover,
  .mobile-contacts div a:hover
  {
    background-color: white;
    color: #252525 !important;
  }

  #prjct1m, #prjct2m, #prjct3m
  {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 90%;
  }

  #prjct1m td, #prjct1m td, #prjct3m td
  {
    width: 100%;
    color: white !important;
    text-align: center;
    font-size: 1.6em;
  }

  #prjct1m img, #prjct2m img, #prjct3m img
  {
    width: 70%;
    left: 10%;
    height: auto;
  }
}


/* END MEDIA QUERIES */
