@font-face
{
    font-family: nhgb;
    src: url('../fonts/nhg/nhg75.ttf');
}

*
{
  font-family: nhgb !important;
}

.container-one, .container-three, .container-five
{
  height: 100%; width: 100%;
  background-color: #111111;
}

.container-two, .container-four
{
  height: 100%; width: 100%;
  background-color: #ef374f;
}

/* Container One */

.container-one .links
{
  position: absolute;
  top: 80px;
  left: 180px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 12;
}

.container-one .links div
{
  font-size: 4em;
  line-height: 1.2em;
  color: white !important;
  text-align: right;
  height: 1.2em;
  padding-right: 20px !important;
  padding-left: 150px !important;
  width: auto;
  display: inline-block;
  float: right;
  clear: right;
}

.container-one .links div:hover
{
  background-color: white;
  color: #ef374f !important;
  cursor: pointer;
}

.container-one .left-stripe
{
  background: linear-gradient(-90deg, #111111, #ef374f);
  height: calc(100% - 60px);
  width: 60px;
  position: absolute;
  left: 70px;
  top: 60px;
  z-index: 10;
}

.container-one .mylogo
{
  height: 150px;
  width: 150px;
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 15;
}

/*
.container-one .mylogo:hover
{
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  transition: 300ms ease all;
}
*/

.art-carousel
{
  position: absolute !important;
  bottom: 50px;
  z-index: 20 !important;
  cursor: -webkit-grab;
  cursor: grab;
}

.art-carousel:active
{
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

.container-one .mylogo img
{
  height: 150px;
  width: 150px;
}

div.owl-carousel, .owl-stage, .owl-item
{
  max-width: none !important;
}

.container-one .item
{
  height: 300px !important;
  width: 300px !important;
}

.container-one .artpiece
{
  position: absolute;
  height: 100%;
  width: 1200px;
  top: 0;
  right: 0;
  background-image: url('../img/home.jpg');
  background-color: #111;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center bottom;
}

.secret
{
  height: 40px;
  width: 40px;
  text-align: center;
  display: block;
  line-height: 40px;
  font-size: 1.7em;
  color: white !important;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  position: absolute;
  left: 100px;
  top: 110px;
  z-index: 14;
  background: #ef374f;
}

.container-two .section-box img
{
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.container-two img.me
{
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
}

/* END Container One */

/* Container Two */

.container-two
{
  position: relative;
}

.container-two .toEdu
{
  display: none;
}

#abt1c{display: block;}
#abt2c, #abt3c{display: none;}

#sklls1c, #sklls2c, #sklls3c{display: none;}

.ghost
{
  opacity: 0.65;
}

#abt2c img
{
  position: absolute;
  top: 150px;
  right: 0;
  left: auto;
  width: auto;
  height: 150px;
}

#abt1c .textarea
{
  position: absolute;
  top: 120px;
  right: 30px;
}

#abt1c img
{
  position: absolute;
  top: -11px;
  left: -60px;
  height: 125%;
  width: auto;
}

#abt1c .textarea p
{
  color: white !important;
  font-size: 2em;
  text-align: right;
}

#abt2c .textarea, #abt3c .textarea
{
  position: absolute;
  top: 325px;
  right: 0;
}

#abt2c .tabular, #abt3c .tabular
{
  position: absolute;
  width: 100%;
  right: 15px;
  display: none;
}

#abt2c .tabular table, #abt3c .tabular table
{
  position: absolute;
  top: 120px;
  width: 100%;
}

#abt2c .tabular table td, #abt3c .tabular table td
{
  width: 40%;
  height: 75px;
  color: white !important;
  font-size: 2em;
  text-align: right;
  line-height: 75px;
  padding-right: 15px !important;
}

#abt2c .tabular table td:hover, #abt3c .tabular table td:hover
{
  background-color: white;
  color: #252525 !important;
}


/* END Container Two */

/* Container Three */

.container-three
{
  position: relative;
}

.container-three .section-links
{
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container-three .section-links a
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 20px !important;
}

.container-three .section-links p
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 10px !important;
}

.container-three .section-links a:hover
{
  background-color: white;
  color: #252525 !important;
  cursor: pointer;
}

.container-three .section-links a:active
{
  background-color: white;
  color: #ef374f !important;
  cursor: pointer;
}

.area-album
{
  display: block;
}

.area-logo, .area-display{display: none;}

.container-three .section-box div
{
  height: auto;
}

.container-three .area-album div.item
{
  height: 520px;
  width: 400px;
  float: left;
}

.container-three .area-logo div.item
{
  height: 550px;
  width: 400px;
  float: left;
}

.owl-carousel .owl-item img
{
  display: block;
  width: auto !important;
}

.display-carousel .owl-item img
{
  height: 400px !important;
  width: auto;
}

#lbm1c, #dsply1c, #lg1c
{
  display: block;
}

#lbm2c, #lbm3c, #lbm4c,
#dsply2c, #dsply3c, #dsply4c,
#lg2c, #lg3c, #lg4c
{
  display: none;
}

#lbm1c .section-box img,
#dsply1c .section-box img,
#lg1c .section-box img
{
  position: relative !important;
}

#lbm4c, #dsply4c
{
  margin-top: 125px;
}

#lg4c
{
  margin-top: 300px;
}

#lbm4c .section, #dsply4c .section, #lg4c .section
{
  height: 300px;
  width: calc(100% - 60px);
}

#lbm4c .section .price-info,
#lbm4c .section .graphic,
#dsply4c .section .price-info,
#dsply4c .section .graphic,
#lg4c .section .price-info,
#lg4c .section .graphic
{
  height: 100%;
  position: relative;
  width: 50%;
  float: left;
}

#lbm4c .section .graphic img,
#dsply4c .section .graphic img,
#lg4c .section .graphic img
{
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}

#lbm4c .section .price-info span.price-type,
#dsply4c .section .price-info span.price-type,
#lg4c .section .price-info span.price-type
{
  font-size: 2.5em;
  color: white !important;
  position: absolute;
  left:0;
}

#lbm4c .section .price-info span.price-num,
#dsply4c .section .price-info span.price-num,
#lg4c .section .price-info span.price-num
{
  font-size: 2.5em;
  color: white !important;
  position: absolute;
  right:0;
}

#lbm4c .section .price-info p,
#dsply4c .section .price-info p,
#lg4c .section .price-info p
{
  font-size: 1.6em;
  margin-top: 70px;
  color: white !important;
}

.album-carousel, .logo-carousel
{
  position: absolute !important;
  top: 150px;
  z-index: 11 !important;
  cursor: -webkit-grab;
  cursor: grab;
}

.display-carousel
{
  position: absolute !important;
  top: 200px;
  z-index: 11 !important;
  cursor: -webkit-grab;
  cursor: grab;
}

.design-title
{
  font-size: 2em;
  color: white !important;
  float: left;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.design-subtitle
{
  font-size: 1.2em;
  color: white !important;
  float: left;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.album-carousel:active
{
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

/* END Container Three */

/* Container Four */

.container-four
{
  position: relative;
}

.container-four .section-links
{
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container-four .section-links a
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 20px !important;
}

.container-four .section-links p
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 10px !important;
}

.container-four .section-links a:hover
{
  background-color: white;
  color: #252525 !important;
  cursor: pointer;
}

.area-projects{display: block;}

.area-skills, .area-work{display: none;}

#sklls1c, #sklls2c, #sklls3c
{
  position: absolute;
  top: 120px;
  width: 100%;
  height: 90%;
}

#sklls1c td, #sklls2c td, #sklls3c td
{
  width: 25%;
  color: white !important;
  text-align: center;
  font-size: 1.6em;
}

#sklls1c img, #sklls2c img, #sklls3c img
{
  width: 70%;
  left: 10%;
  height: auto;
}

/* END Container Four */

/* Container Five */

.container-five
{
  position: relative;
}

.container-five .section-links
{
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.container-five .section-links a
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 20px !important;
}

.container-five .section-links p
{
  font-size: 2.5em;
  color: white !important;
  float: left;
  padding: 5px 10px !important;
}

 .section-links a:hover
{
  background-color: white;
  color: #252525 !important;
  cursor: pointer;
}

.area-twitter{display: block;}

.area-discord, .area-other
{
  display: none;
}

.container-five .section-box img
{
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: -15px;
}

/* END Container Five */

/* Container General */

.nums
{
  position: fixed;
  bottom: 20px;
  left: calc(50% - 150px);
  z-index: 21;
  width: 300px;
}

.nums a
{
  width: 60px;
  height: 60px;
  float: left;
}

.nums a:hover
{
  background-color: white;
  cursor: pointer;
}

.nums a img
{
  width: 100%;
  height: 100%;
}

.navnames
{
  position: fixed;
  bottom: 85px;
  z-index: 21;
  width: 100%;
}

.navnames span
{
  font-size: 1.7em;
  background-color: white;
  display: none;
  position: absolute;
  padding: 5px 15px !important;
}

#name1{left: calc(50% - 175px); bottom: 0px;}
#name2{left: calc(50% - 117px); bottom: 0px;}
#name3{left: calc(50% - 62px); bottom: 0px;}
#name4{left: calc(50% - -14px); bottom: 0px;}
#name5{left: calc(50% - -50px); bottom: 0px;}

.section-title
{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 6em;
  color: white !important;
  position: relative;
  text-align: right;
  top: 230px;
  left: 50px;
  width: 80px;
  margin: 0;
  padding: 0 !important;
}

.section-box
{
  position: absolute;
  bottom: 175px;
  right: 50px;
  height: calc(100% - 225px);
  width: 80%;
}

.section-box div
{
  height: 100%;
}

.container-three .section-title{top: 270px;}
.container-four .section-title{top: 140px;}
.container-five .section-title{top: 320px;}

.back-up
{
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 30px;
  width: 30px;
}

.back-up:hover
{
  cursor: pointer;
}

.linkbox-title
{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5em;
  color: white !important;
  text-align: left;
}

.linktitle
{
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 4em;
  color: white !important;
  text-align: right;
}

.goto, .toEdu
{
  position: absolute;
  bottom: 2px;
  right: 30px;
  font-size: 2em;
  color: white !important;
  text-align: right;
  padding: 5px 10px !important;
  z-index: 50;
}

.container-two .goto, .toEdu
{
  bottom: -80px !important;
}

.goto:hover,.toEdu:hover
{
  background-color: white;
  color: #111 !important;
  cursor: pointer;
  text-decoration: none;
}

.linkbox
{
  width: auto !important;
  height: auto !important;
  display: inline-block;
  margin-top: 200px;
}

.content
{
  width: 80% !important;
  position: absolute;
  top: 0;
  right: 0;
}

.container-three .linkbox,
.container-four .linkbox
{
  width: auto !important;
  height: auto !important;
  display: inline-block;
  margin-top: 120px;
}

.container-two .linkbox
{
  width: auto !important;
  height: auto !important;
  display: inline-block;
  margin-top: 240px;
}

a.link
{
  font-size: 2em;
  color: white !important;
  display: block;
  line-height: 40px;
  padding: 5px 10px !important;
  padding-right: 100px !important;
}

a.link:hover
{
  background-color: white;
  color: #111 !important;
  cursor: pointer;
}

a.link:active
{
  background-color: white;
  color: #ef374f !important;
  cursor: pointer;
}

.chains
{
  background-image: url('../img/svg/chains.svg');
  background-repeat: repeat-y;
  width: 20px;
  position: absolute;
  top: 0;
  left: 180px;
  z-index: 20;
}

a.ttl, span.ttl
{
  font-size: 3em;
  text-align: right;
  color: white !important;
  display: block;
}

span.ttl
{
  font-size: 3em;
}

.subttl
{
  margin-top: 25px;
  font-size: 1.8em;
  text-align: right;
  color: white !important;
  display: block;
}

.backtohome
{
  position: absolute;
  top: 70px;
  left: 110px;
  font-size: 2em;
  color: white !important;
  display: block;
  line-height: 40px;
  padding: 5px 10px !important;
  padding-right: 100px !important;
}

.backtohome:hover
{
  background-color: white;
  color: #111 !important;
  cursor: pointer;
  text-decoration: none
}

.pagetitle
{
  position: absolute;
  top: 30px;
  left: -80px;
  z-index: 10;
}

.pagetitle span
{
  font-size: 4em;
  color: white !important;
  display: inline-block;
  line-height: 40px;
  padding: 10px 10px !important;
}

.pagetitle a
{
  font-size: 1.6em;
  color: white !important;
  display: inline-block;
  line-height: 40px;
  padding: 5px 10px !important;
}

.pagetitle a:hover
{
  background-color: white;
  color: #111 !important;
  cursor: pointer;
  text-decoration: none
}

div.commstatus
{
  position: absolute;
  top: 40px;
  right: 30px;
  color: white !important;
  z-index: 20;
}

div.commstatus table{width: 500px; height: 100%;}

div.commstatus .open,div.commstatus .closed
{
  background-color: white;
  color: #111 !important;
  text-align: center;
}

div.commstatus .closed{opacity: 0.5}

div.commstatus td
{
  padding: 7px 12px !important;
  text-align: right;
  font-size: 1.6em;
}

div.commstatus td:last-child{width: 25%;}
div.commstatus td:first-child{width: 75%;}


div.commstatus th
{
  text-align: right;
  font-size: 2.8em;
}

#twttrc, #dscrdc, #otherc
{
  position: absolute;
  right: 30px;
  top: 120px;
  font-size: 1.4em !important;
}


/* END Container General */

/* NOT READY */

div.notready
{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: #ef374f;
}

.notready span.notsuitable
{
  color: white !important;
  font-size: 3em;
  position: absolute;
  display: block;
  bottom: 70px;
  line-height: 1em;
  left: 70px;
}

.notready span.nothappy
{
  color: white !important;
  font-size: 20em;
  position: absolute;
  display: block;
  top: 40px;
  left: 70px;
}

.notready span.cls
{
  color: white !important;
  font-size: 2.4em;
  position: absolute;
  display: block;
  padding: 5px 20px !important;
  top: 40px;
  right: 70px;
}

.notready span.cls:hover
{
  color: #252525 !important;
  background: white;
  cursor: pointer;
}

.notready span.thelogo
{
  width: 150px;
  height: 150px;
  bottom: 70px;
  right: 70px;
  position: absolute;
  display: block;
}

.info
{
  width: 100%;
  height: 70px;
  padding: 10px !important;
}

.overlay
{
  height: 400px;
  width: 400px;
  background-color: rgba(238, 55, 79,0.8);
  position: absolute;
  display: none;
  font-size: 2.5em;
  z-index: 30;
  color: white !important;
  text-align: center;
  padding-top: calc(50% - 25px) !important;
}

.overlay:hover
{
  cursor: default !important;
}

.overlay a
{
  height: 50px;
  line-height: 50px;
  padding: 0px 15px !important;
}

.overlay a:hover
{
  background-color: white;
  color: #252525 !important;
  cursor: pointer !important;
}

.lightbox
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: none;
  background-color: rgba(0,0,0,0.75);
}

.lightbox img
{
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
  width: 800px;
  height: 800px;
  z-index: 100;
  background-color: rgba(0,0,0,0.75);
}

.lightbox span.cls
{
  color: white !important;
  font-size: 2.4em;
  position: absolute;
  display: block;
  padding: 5px 20px !important;
  top: 40px;
  right: 70px;
}

.lightbox span.cls:hover
{
  color: #252525 !important;
  background: white;
  cursor: pointer;
}

.next, .prev
{
  color: white !important;
  font-size: 1.8em;
  display: inline-block;
  padding: 5px 20px !important;
}

.next:hover, .prev:hover
{
  color: #252525 !important;
  background: white;
  cursor: pointer;
}

.owl-nav button:active, .owl-nav button:focus
{
  outline: none;
  border: none;
}

/* END NOT READY */

/* SITE FOOTER */

div.site-footer
{
  width: 100%;
  height: 60px;
  background-color: #151515;
  color: white;
  line-height: 60px;
  font-size: 1.1em;
}

span#sitedate
{
  width: 200px;
  text-align: center;
  height: 40px;
  display: block;
  margin-left: calc(50% - 100px);
}

.section-box-mobile{display: none;}

/* END SITE FOOTER */

.blackoverlay
{
  height: 100% !important;
  width: 100% !important;
  z-index: 1000;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  display: none;
}

.mobburger
{
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
  transition: 0.2s ease;
}

.sidemenu
{
  position: fixed;
  right: -80px;
  top: 70px;
  z-index: 100;
  display: none;
}

.sidemenu a
{
  display: block;
  position: relative;
  height: 50px;
  width: 50px;
}

.sidemenu a:hover
{
  background-color: white;
}

.sidemenu a img
{
  width: 50px;
  height: 50px;
}
